.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 20px;
  height: 4%;
  width: 98%;
  background-color: #282828;
  z-index: 2;
}

.footer__right * .MuiSlider-root {
  color: green;
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  flex: 0.3;
}

.volumeDownIcon,
.playlistPlayIcon {
  padding-top: 10px;
}

.footer__green {
  color: #1ed15e;
}

.footer__center {
  flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
  cursor: pointer;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.2;
}

.footer__albumLogo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__songInfo > h4 {
  margin-bottom: 3px;
}

.footer__songInfo > p {
  font-size: 12px;
  color: rgba(218, 218, 218, 0.589);
}
